<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grameen.bebshanikashapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BebshaNikashApp">
        <activity android:name=".View.Activity.PhoneBookListActivity"></activity>
        <activity android:name=".View.Activity.UpdateProfileActivity" />
        <activity android:name=".View.Activity.ProfileActivity" />
        <activity android:name=".View.Activity.UpdateProductActivity" />
        <activity android:name=".View.Activity.MyProductActivity" />
        <activity android:name=".View.Activity.AccountingActivity" />
        <activity android:name=".View.Activity.ProductListActivity" />
        <activity android:name=".View.Activity.CategoryListViewActivity" />
        <activity android:name=".View.Activity.ProductUploadActivity" />
        <activity android:name=".View.Activity.RegistrationActivity" />
        <activity android:name=".View.Activity.AddCustomerActivity" />
        <activity android:name=".View.Activity.FragmentContainerActivity" />
        <activity android:name=".View.Activity.SplashActivity" />
        <activity android:name=".View.Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>